In [1]:
# loading of data
import pandas as pd
from pandas import read_csv
filename = 'movie.csv'
data = read_csv(filename)
data.head(5)

   movieId                    title                      genres
0        1         Toy Story (1995)              Comedy|Romance
1        2              Moses(1990)  Adventure|Children|Fantasy
2        3  Grumpier Old Men (1995)              Comedy|Romance
3        2              Moses(1990)  Adventure|Children|Fantasy
4        4                BoB(2000)        Comedy|Drama|Romance

In [10]:
# renaming of column
data.rename(columns={'genres':'data'}, inplace=True)

In [11]:
data.head()

    movieId                    title                        data
0         1         Toy Story (1995)              Comedy|Romance
56        2              Moses(1990)  Adventure|Children|Fantasy
2         3  Grumpier Old Men (1995)              Comedy|Romance
3         2              Moses(1990)  Adventure|Children|Fantasy
4         4                BoB(2000)        Comedy|Drama|Romance

In [12]:
# renaming of row
data.rename(index={1:'56'}, inplace=True)

In [13]:
data.head()

    movieId                    title                        data
0         1         Toy Story (1995)              Comedy|Romance
56        2              Moses(1990)  Adventure|Children|Fantasy
2         3  Grumpier Old Men (1995)              Comedy|Romance
3         2              Moses(1990)  Adventure|Children|Fantasy
4         4                BoB(2000)        Comedy|Drama|Romance